<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${bookings} and ${bookings.size()}" > no booking for now :( </p>

<ul th:each="booking : ${bookings}">
    <li th:text="${booking.eventType}"></li>
    <li th:text="${booking.fname + ' ' +inf.lname}" ></li>
    <li th:text="${booking.email}"></li>
    <li th:text="${booking.description}"></li>
</ul>

</body>
</html>