<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>


<body class="container">

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width: 700px">
    <div class="dropdown">
        <select name="eventType">
            <option>Wedding</option>
            <option>Corporate Event</option>
            <option>NightClub Event</option>
        </select> <br/>
    </div>

    <div>
        First Name : <input class="form-control" type="text" name="fname"/>
        Last name :  <input class="form-control" type="text" name="lname" /> <br />
        Email : <input class="form-control" name="email" type="email" /> <br/>
        More Info: <textarea class="form-control" rows="5" name="description" /> <br/>
        <input class="form-control" type="submit" value="Submit Request"/>
    </div>
</form>
</body>
</html>