<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="booking : ${bookings}" class="checkbox">
        <input type="checkbox" name="bookingIds" th:value="${booking.id}" th:id="${booking.id}"/>
        <label th:for="${booking.id}" th:text="${booking.eventType}"></label>
        <br />
    </div>

<input type="submit" value="Remove Booking" />
</form>

</body>
</html>